# Creacion de la base de datos principal

- Aqui hacemos el merge de todos los modulos en un gran dataframe llamado "emicron2023".
- Este debe tener 330 columnas y 81018 obervaciones (filas).

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import os
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
#PATHS
#Ruta base donde estan los archivos que descargamos usando el "Downloader"
base = os.path.normpath(os.getcwd() + "/2022_data").replace("\\", "/")
#Ruta donde se descargara el dataframe final
ruta_csv = os.path.normpath(os.getcwd() + "/emicron22.csv").replace("\\", "/")
#Mostrar las rutas
print(f"base: {base}")
print(f"ruta_csv: {ruta_csv}")

base: C:/Users/shamu/Documents/Jupyter/SMEsDex/2022/2022_data
ruta_csv: C:/Users/shamu/Documents/Jupyter/SMEsDex/2022/emicron22.csv

In [3]:
#Modulo de capital social
df_cs=pd.read_csv(base+'/Modulo de capital social.csv',
                  encoding='utf-8',sep=',',low_memory=False)
#Modulo de ventas o ingresos
df_vi=pd.read_csv(base+'/Modulo de ventas o ingresos.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Modulo de caracteristicas del micronegocio
df_cm=pd.read_csv(base+'/Modulo de caracteristicas del micronegocio.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Modulo de costos, gastos y activos.csv
df_cga=pd.read_csv(base+'/Modulo de costos, gastos y activos.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Modulo de emprendimiento.csv
df_me=pd.read_csv(base+'/Modulo de emprendimiento.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Modulo de identificacion.csv
df_mi=pd.read_csv(base+'/Modulo de identificacion.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Modulo de inclusion financiera.csv
df_if=pd.read_csv(base+'/Modulo de inclusion financiera.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Modulo de personal ocupado.csv
df_po=pd.read_csv(base+'/Modulo de personal ocupado.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Modulo de sitio o ubicacion.csv
df_su=pd.read_csv(base+'/Modulo de sitio o ubicacion.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Modulo de TIC.csv
df_tic=pd.read_csv(base+'/Modulo de TIC.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Modulo personal ocupado (propietario(a)).csv
df_pop=pd.read_csv(base+'/Modulo personal ocupado (propietario(a)).csv',
                  encoding='latin-1',sep=',',low_memory=False)
#factores de expansion departamentales
df_fex_dep=pd.read_csv(base+'/factores_departamental_2022_proy_2018.csv',
                  encoding='latin-1',sep=',',low_memory=False)
df_list=['df_cs','df_vi','df_cm','df_cga','df_me','df_mi','df_if','df_po','df_su','df_tic','df_pop','df_fex_dep']

In [4]:
columnas_cs=df_cs.columns.tolist()
columnas_vi=df_vi.columns.tolist()
columnas_cm=df_cm.columns.tolist()
columnas_cga=df_cga.columns.tolist()
columnas_me=df_me.columns.tolist()
columnas_mi=df_mi.columns.tolist()
columnas_if=df_if.columns.tolist()
columnas_su=df_su.columns.tolist()
columnas_tic=df_tic.columns.tolist()
columnas_pop=df_pop.columns.tolist()
columnas_fex_dep=df_fex_dep.columns.tolist()

In [5]:
#Lista de DataFrames a incluir en el merge (excluyendo df_po)
df_list = [df_cs, df_vi, df_cm, df_cga, df_me, df_mi, df_if, df_su, df_tic, df_pop, df_fex_dep]

#Identificar las columnas comunes
columnas_comunes = set(df_list[0].columns)
for df in df_list[1:]:
    columnas_comunes &= set(df.columns)
columnas_comunes = list(columnas_comunes)

#Realizar el merge secuencialmente, evitando conflictos en las columnas duplicadas
emicron22 = df_list[0]  #Inicializa con el primer DataFrame
for df in df_list[1:]:
    emicron22 = pd.merge(emicron22, df, on=columnas_comunes, how='outer', suffixes=('', '_dup'))

In [6]:
emicron22.head()

,DIRECTORIO,SECUENCIA_P,SECUENCIA_ENCUESTA,P3002,P3003_1,P3003_2,P3003_3,P3003_4,P3003_5,P3003_6,...,P2989,P3091,SUELDOS,PRESTACIONES,REMUNERACION_TOTAL,CLASE_TE_dup,COD_DEPTO_dup,AREA_dup,F_EXP_dup,FEX_MICRO_DPTO
0,2120013,1.000,1.000,2.000,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,1.000,NaN,0.000,0.000,2.000,8.000,NaN,25.099,16.764
1,2120018,1.000,1.000,2.000,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,1.000,NaN,0.000,0.000,2.000,8.000,NaN,22.117,12.625
2,2120022,1.000,1.000,2.000,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,1.000,NaN,0.000,0.000,2.000,8.000,NaN,34.341,20.460
3,2120023,1.000,1.000,2.000,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,1.000,NaN,0.000,0.000,2.000,8.000,NaN,21.413,11.714
4,2120024,1.000,1.000,2.000,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,1.000,NaN,0.000,0.000,1.000,8.000,NaN,122.952,129.314

In [7]:
filas, columnas = emicron22.shape
print(f"El DataFrame 'emicron22' tiene {filas} observaciones.")

El DataFrame 'emicron22' tiene 93724 observaciones.

Si el dataframe se ha creado correctamente, lo descargamos.

In [8]:
emicron22.to_csv(ruta_csv, index=False, encoding='utf-8')
print(f"El DataFrame 'emicron22' se ha guardado correctamente en {ruta_csv}")

El DataFrame 'emicron22' se ha guardado correctamente en C:/Users/shamu/Documents/Jupyter/SMEsDex/2022/emicron22.csv